{% set navigation_bar = [
    ("home",     "main.index",         "Prayer Of Hannah", "Home page"),
    ("worship",  "live_worship.index", "Live Worship",     "The active worship service"),
    ("services", "services.index",     "Services",         "Manage your worship services"),
    ("songs",    "songs.index",        "Songs",            "Manage your songs"),
] -%}

{% set active_page = active_page|default('home') -%}

<nav>
    <ul>
        {% for id, href, caption, tooltip in navigation_bar %}
            {% if id == active_page %}
                <li><strong data-tooltip="{{ tooltip }}" data-placement="bottom">{{ caption }}</strong></li>
            {% else %}
                <li><a href="{{url_for(href) }}" data-tooltip="{{ tooltip }}" data-placement="bottom">{{ caption }}</a></li>
            {% endif %}

        {% endfor %}
    </ul>
</nav>