<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}">
    <script src="{{ url_for('static', filename='htmx.min.js.js') }}"></script>

    <title>{% block title %} {% endblock %} - FlaskApp</title>
</head>
<body>
<header>
    {% include "_navigation.html" %}
</header>
<main class="container-fluid">
    {% block content %} {% endblock %}
</main>
<footer>{% include "_footer.html" %}</footer>
</body>
</html>