<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}">
    <script src="{{ url_for('static', filename='htmx.min.js.js') }}"></script>

    <title>{% block title %} {% endblock %} - FlaskApp</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Prayer Of Hannah</a></li>
                <li><a href="{{ url_for('live_worship.index') }}">Live Worship</a></li>
                <li><a href="{{ url_for('services.index') }}">Services</a></li>
                <li><a href="{{ url_for('songs.index') }}">Songs</a></li>
            </ul>
        </nav>
    </header>
    <main class="container-fluid">
        <hr>
        <div>
            {% block content %} {% endblock %}
        </div>
    </main>
</body>
</html>