{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
        <ul>
            <li><strong>Prayer Of Hannah</strong></li>
            <li><a href="{{ url_for('live_worship.index') }}">Live Worship</a></li>
            <li><a href="{{ url_for('services.index') }}">Services</a></li>
            <li><a href="{{ url_for('songs.index') }}">Songs</a></li>
        </ul>
    </nav>
</header>
<main class="container-fluid">
    <hr>
    <span class="title"><h1>{% block title %} The Home Page of FlaskApp {% endblock %}</h1></span>
    <div class="content">
        <h2>This is the main Flask blueprint</h2>
    </div>

    <h1 class="title">Song Books</h1>
    <div class="content">
        <table>
            {% for song_book in song_books %}
                <tr>
                    <td>{{ song_book.id }}</td>
                    <td>{{ song_book.code }}</td>
                    <td>{{ song_book.name }}</td>

                </tr>
            {% endfor %}
        </table>
    </div>
</main>
{% endblock %}
